/* Box Model Hack */
*{
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
}

.game {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.start {
  height: 100px;
  width: 150px;
  align-self: center;
}

.keyboard {
  display: flex;
  justify-content: space-around;
  flex-basis: 60%;
  height: 350px;
}

.correct {
  align-self: center;
}
.note {
  height: 100%;
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.note:hover {
  background-color:rgb(245, 243, 243);
  cursor:pointer;
}

.note:active {
  background-color: rgb(134, 130, 130);
}

.sharp {
  width: 40%;
  height: 62%;
  margin-left: -3%;
  margin-right: -3%;
  background-color: black;
  color: white;
  z-index: 2;
}

.sharp:hover {
  background-color: rgb(48, 43, 43);
}

.sharp:active {
  background-color: rgb(107, 98, 98);
}

