/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h1 {
  margin: 0 auto;
}

.keyboard {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 350px;
}


.note {
  height: 300px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.note:hover {
  background-color:rgb(245, 243, 243);
  cursor:pointer;
}

.note:active {
  background-color: rgb(134, 130, 130);
}

.sharp {
  width: 40%;
  height: 62%;
  margin-left: -3%;
  margin-right: -3%;
  background-color: black;
  color: white;
  z-index: 2;
}

.sharp:hover {
  background-color: rgb(48, 43, 43);
}

.sharp:active {
  background-color: rgb(107, 98, 98);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
